<table class="records_list" width="100%">
                                    <thead>
                                        <tr>
                                            <th>License Number</th>
                                            <th>Date</th>
                                            <th>Round Number</th>
                                            <th>Route Id</th>
                                            <th>Departure Time</th>
                                            <th>Arrival Time</th>
                                            <th>Start Bus Stop</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
       
                                    </tbody>
                                </table>