{% extends "::base.html.twig" %}

{% block title %}BuskoBranchBundle:BranchDeletionSubmission:submitBranchDeletion{% endblock %}

{% block body %}
<h1>Welcome to the BranchDeletionSubmission:submitBranchDeletion page</h1>
{% endblock %}
