{% extends "BuskoStyleBundle:Home:basic.html.twig" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="content" class="span10">
        <div class="box-content span12">
                    <h1>Buses creation</h1>

                    {{ form(form) }}

                        <ul class="record_actions">
                    <li>
                        <a href="{{ path('buses') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
           </div>
        </div>
    </div>
</div>
{% endblock %}
