{% extends "::base.html.twig" %}

{% block title %}BuskoBranchBundle:BranchDeletion:deleteBranch{% endblock %}

{% block body %}
<h1>Welcome to the BranchDeletion:deleteBranch page</h1>
{% endblock %}
