{% extends "BuskoStyleBundle:Home:basic.html.twig" %}
{% block menu %}

{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-error center span8">
    
    <strong>Error</strong> <br>Ops! Something went wrong. Please contact admin if problem persists. <br><br>
    <strong>Message:</strong>{{message}}
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}