{% extends "BuskoStyleBundle:Home:basic.html.twig" %}
{% block menu %}

{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-error center span8">
    
    <strong>Error</strong> <br>you do not have permssion! Please contact site admin.
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}

