{% extends "::base.html.twig" %}

{% block title %}
Branch - Confirm Branch Creation
{% endblock %}





{% block body %}
<h1 align = "center"> Confirm Branch Creation</h1>
<p align="center">
Branch has been created successfully!<br>

</p>
{% endblock %}