{% extends "::base.html.twig" %}

{% block title %}
Branch - Confirm Branch Creation
{% endblock %}





{% block body %}

<p align="center">
Branch has been created successfully!<br>

</p>
{% endblock %}