{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Drivers</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Driverlicencenumber</th>
                <td>{{ entity.driverLicenceNumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('drivers') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('drivers_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
