Driver ID - {{driv}}

<a href="{{path('update_drives_driver',{'date':date,'lic':lic})}}">
        <button type="submit" id="HR_Assignment_submit" name="HR_Assignment[submit]">
            Update
        </button>
</a>


Assistant ID - {{ass}} 

<a href="{{path('update_drives_assistant',{'date':date,'lic':lic})}}">
        <button type="submit" id="HR_Assignment_submit" name="HR_Assignment[submit]">
            Update
        </button>
</a>