


	<div class="container-fluid">
		<div class="row-fluid">
		
			
			<div class="row-fluid">
				<div class="well span3 center login-box">
                                       
					
                                    {% trans_default_domain 'FOSUserBundle' %}

                                    <form action="{{ path('operators_add') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                                        {{ form_widget(form) }}
                                        <div>
                                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                                        </div>
                                    </form>
				</div><!--/span-->
			</div><!--/row-->
				</div><!--/fluid-row-->
		
	</div><!--/.fluid-container-->

